:root {
    --blue: #05003a;
    --beige: #A6785D;
    --white: #F2F2F2;
}

body {
    margin: 0;
    font-family: Arial;
    background: var(--white);
}

header {
    background: var(--blue);
    color: white;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 60px;
}

.main {
    padding: 20px;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input, select {
    padding: 10px;
}

button {
    background: var(--beige);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    background: #ddd;
    border-collapse: collapse;
}

th {
    background: var(--blue);
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.Receita {
    color: green;
}

.Despesa {
    color: red;
}